.checkout {
  display: flex;
  flex-direction: row;
  // justify-content: center;
  main {
    display: flex;
    flex-direction: column;
    width: 60%;

    form {
      // display: flex;
      // flex-direction: column;

      button {
        //what is pushing this to left??
        margin-right: 0%;
      }
    }
  }

  aside {
    display: flex;
    flex-direction: column;
    width: 40%;

    .orders-list {
      display: flex;
      //   flex-direction: row;
      justify-content: center;
    }
  }
}
