nav {
  width: 100vw;
  background-color: rgba(2, 2, 2, 1);

  ul {
    display: flex;
    justify-content: end;
    list-style: none;
    margin-right: 1rem;

    .home {
      margin-right: auto;
    }

    li {
      margin: 1rem 1rem;
    }
  }
}
