form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
  width: 100vw;
  font-size: 2.5rem;

  .alert {
    margin-top: 1rem;
  }

  .alert-heading {
    font-size: 3rem;
    border-bottom: 2px solid;
  }

  .input-fields {
    display: flex;
    flex-direction: column;
    // background-color: grey;
    width: 40vw;

    .input-label {
      margin-right: auto;
    }
    .text-input {
      margin: 1.5rem 0;
      border: solid 2px whitesmoke;
      // height: 3rem;
    }

    .text-input-error {
      border: 1px solid red;
    }
  }
  button {
    margin-right: auto;
  }
}
